body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hostpital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.inactive{
    display: none;
}

/*NavBar*/
.menu{
    display: none;
}
.logo{
    width: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border: 1px solid var(--hostpital-green);
    color: var(--hostpital-green);
}
.navbar-email{
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 16px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    display: flex;
    justify-content: center ;
    position: absolute;
    top: -8px;
    right: -4px;
    width: 16px;
    background-color: var(--hostpital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}

/*Desktop Menu*/
.desktop-menu{
    position: absolute;
    background-color: var(--white);
    top: 60px;
    right: 60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li:nth-child(1),.desktop-menu ul li:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    text-align: end;
}
.desktop-menu ul li:last-child a{
    color: var(--hostpital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black);
    font-size: var(--sm);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}


/*Media Queries*/
@media (max-width: 720px) {
    .menu{
        display: block;
        width: 32px;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
}