body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hostpital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.inactive{
    display: none;
}

/*NavBar*/
.menu{
    display: none;
    width: 32px;
}
.logo{
    width: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border: 1px solid var(--hostpital-green);
    color: var(--hostpital-green);
}
.navbar-shopping-cart{
    border: 1px solid var(--hostpital-green);
    color: var(--hostpital-green);
    cursor: pointer;
}
.navbar-email{
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 16px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    display: flex;
    justify-content: center ;
    position: absolute;
    top: -8px;
    right: -4px;
    width: 16px;
    background-color: var(--hostpital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}

/*Desktop Menu*/
.desktop-menu{
    position: absolute;
    background-color: var(--white);
    top: 60px;
    right: 60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li:nth-child(1),.desktop-menu ul li:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    text-align: end;
}
.desktop-menu ul li:last-child a{
    color: var(--hostpital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black);
    font-size: var(--sm);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

/*Mobile Menu*/
.mobile-menu{
    position: absolute;
    background-color: var(--white);
    top: 60px;
    left: 0px;
    padding: 20px;
    width: 100%;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul{
    padding: 0;
    margin: 20px 0 40px 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.email{
    font-size: var(--sm);
    font-weight: 300 !important;
}
.mobile-menu .sign-out{
    color: var(--hostpital-green);
    font-size: var(--sm);
}

/*Aside product details and shopping cart*/

.shopping-cart{
    position: absolute;
    right: 0;
    background-color: var(--white);
    box-sizing: border-box;
    width: 360px;
    padding: 24px;
    border-radius: 8px;
}

.title{
    font-size: var(--lg);
    font-weight: bold;
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 16px;
}
.primary-button{    
    background-color: var(--hostpital-green);
    color: var(--white);
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
}
.checkout-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-order-summary{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 20px;
    padding: 0px 24px;
}
.my-order-summary p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-order-summary p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.my-order-summary p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.my-order-summary p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.cart-item{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.cart-item figure{
    margin: 0;
}
.cart-item figure img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
}
.cart-item p:nth-child(2){
    color: var(--very-light-pink);
}
.cart-item p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

/*Main Page*/
.main-container{
    margin: 20px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 28px;
    place-content: center;
}
.card{
    width: 240px;
}
.card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 48px;
    height: 48px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--lg);
    margin: 4px 4px 4px 8px;
}
.product-info div p:nth-child(2){
    font-size: var(--lg);
    margin: 4px 4px 4px 8px;
}

/*One Product Details*/
.one-product-detail{
    position: absolute;
    right: 0px;
    padding-bottom: 12px;
    border: var(--hostpital-green) 1px solid;
    border-radius: 20px;
}
.one-product-image{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
}
.primary-button{    
    background-color: var(--hostpital-green);
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
}
.add-to-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.one-product-detail{
    width: 360px;
}
.one-product-detail-close{
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.one-product-detail-close:hover{
    cursor: pointer;
}
.one-product-info{
    margin: 24px 24px 0 24px;
}
.one-product-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.one-product-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 4px;
}
.one-product-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 32px;
    margin-bottom: 32px;
}

/*Media Queries*/
@media (max-width: 720px) {

    .desktop-menu{
        display: none;
    }
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .shopping-cart{
        width: 100%;
    }
    /*Main Page*/
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        gap: 28px;
    }
    .card{
        width: 180px;
    }
    .card img{
        width: 180px;
        height: 180px;
        border-radius: 20px;
        object-fit: cover;
    }
    /*One Product Details*/
    .one-product-detail{
        width: 100%;
    }
}

@media (min-width: 721px) {
    .mobile-menu{
        display: none;
    }    
}